<div class="container">
  <div class="column mt-3">
    <div class="column d-grid gap-1">
      <input
        type="text"
        class="form-control"
        placeholder="Server Name"
        [value]="newServerName"
        (input)="onUpdateServerName($event)"
      />
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()"
      >
        Add Server
      </button>
    </div>
    <hr />
    <div class="column d-grid gap-1 mt-4">
      <input
        type="text"
        class="form-control"
        placeholder="Two Way Binding Example"
        [(ngModel)]="twoWayBindingText"
      />
      <p>{{ twoWayBindingText }}</p>
    </div>
    <hr />
    <p [innerText]="createServerStatus"></p>
    <hr />
    <div class="row">
      <div class="column d-grid gap-2">
        <app-server *ngFor="let server of servers"></app-server>
      </div>
    </div>
  </div>
</div>
